.card {
  margin: 30px;
  border: 2px solid #ececec;
  border-radius: 20px;
  width: 100%;
}

span {
  display: block;
  border: 1px solid #9fd3c7;
  border-radius: 30px;
  padding: 10px;
  margin: 20px;
  color: #385170;
  opacity: 0.8;
  font-size: 13px;
}
h1,
h2,
h3 {
  opacity: 0.6;
  color: #142d4c;
}

h1,
h2 {
  text-align: center;
  font-size: 35px;
}
h3 {
  font-size: 20px;
}

li {
  list-style: none;
}

.week-weather {
  padding: 10px;
  color: #385170;
  margin-right: 30px;
  font-size: 16px;
}
.day {
  border: 1px solid #9fd3c7;
  margin-bottom: 10px;
  border-radius: 10px;
}

form {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin-bottom: 10px;
  color: #ececec;
}
